* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --bg-color: #f4f4f4;
    --header-footer-bg: #34495e;
    --button-bg: #e74c3c;
    --button-text: #fff;
}

.fondo {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), 
                url(/client/view/imagenes/fondo3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
    padding: 0%; 
    height: 100vh;
}

/* ------------------------PANTALLA PRINCIPAL--------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.6;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
    font-weight: 600; 
    text-transform: uppercase; 
    letter-spacing: 1px;    
}

button {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

label {
    font-weight: 600;
    font-size: 14px;
}

header,
footer {
    background-color: var(--header-footer-bg);
    color: var(--button-text);
    text-align: center;
    padding: -1em 0;
}

.container {
    max-width: 1900px;
    padding: 0%;
    margin: 0%;
}

.encabezado {
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.logop {
    height: 150px;
    width: 150px;
    justify-content: left;
}

header h1,
footer p {
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input[type="text"] {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

.search-container input[type="text"]:focus {
    border-color: #007bff;
}

.search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #0056b3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 4px;
    overflow: hidden;
    margin-block-start: 0.2%;
    width: 100%;
}

.navbar a {
    color: var(--button-text);
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar a:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

.btn-inSesion {
    background-color: var(--bs-btn-bg);
    color: var(--bg-color);
    border: none;
}

.btn-inSesion svg {
    width: 40px;
    height: 40px;
}

.social-media {
    margin: 0.1em 0;
}

.social-media a {
    margin: 0 5px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5em;
    height: auto;
}

.logo {
    width: 30px;
    height: 30px;
}

.social-media a:hover {
    color: var(--secondary-color);
}

.catalogo-container {
    margin: -50px auto;
    max-width: 1200px;
    padding: 20px;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
    margin-bottom: 40px;
    margin: 4%;
}

.catalogo a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

}

.catalogo a:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.catalogo img {
max-height: 250px;
max-width: 100%;
object-fit: contain;
display: block;
margin: 0 auto;
background-color: #fff;
padding: 5px;
border-radius: 8px;
transition: box-shadow 0.3s ease;
}


.catalogo img:hover {
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.catalogo .description {
    padding: 10px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
}

.catalogo .description h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
    font-weight: 700;
}

.catalogo .description p {
    margin: 0;
    font-size: 1em;
}

.catalogo .price {
    font-size: 1.2em;
    color: var(--secondary-color);
    margin-top: 5px;
}

.category {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0 20px;
    color: var(--primary-color);
    padding: 10px 0;
    border-bottom: 2px solid var(--primary-color);
}

footer {
    width: 100%;
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .info {
    margin-bottom: 15px;
}

footer .social-media img {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}

footer a {
    color: #ffa500;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-media img {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}

footer a {
    color: #ffa500;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}


.carrito-btn {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-left: 6%;
    margin-right: 6%;
}

.añadirCarrito {
    background-color: black;
    color: var(--button-text);
    margin-bottom: 1%;
    
}

.verCarrito {
    background-color: black;
    color: var(--button-text);
}

.titulo-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 5%;
}

.map-container {
    display: flex;
    max-width: 812px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: center;
    margin-block-end: 10%;
}

.map-container:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.btn-regresar img {
    width: 45px;
    height: 45px;
}

.btn-regresar {
    border: none;
    display: flex;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.0);
}

.botones-atras {
    display: flex;
    width: 0%;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-inline-end: 35%;
    border: none;
    display: flex;
    background-color: rgba(192, 192, 192, 0.0);
}
/*----------------------------------- INICIO SESION --------------------------*/
.iniciarSesion {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.9);
    padding: 2%;
}

.inicioSesion {
    border-radius: 0%;
    border-style: solid;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    background-color: rgb(200, 197, 197);
}

.correo {
    padding-block: 2%;
    padding-block-end: 3%;
}

.contraseña {
    padding-block-end: 3%;
}

.btn-iniciar {
    background-color: black;
    color: white;
    margin-bottom: 2%;
}

.btn-registrarse {
    background-color: black;
    color: white;
}

.btn-recuperarC {
    color: black;
    padding-right: 80%;
    background-color: rgb(200, 197, 197);
    border: none;
    
}

/*-------------------------------- REGISTRARSE --------------------------*/
.registrarse {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.9);
    padding: 2%;
}

.p-registrarse{
    border-style: solid;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    background-color: rgb(200, 197, 197);
}

.nombre {
    padding: 2%;
}

.correo-r {
    padding: 2%;
}

.crearC {
    padding: 2%;
}

.confirmarC {
    padding: 2%;
    margin-block-end: 2%;
}
/*------------------ VERIFICACIÓN DE CORREO #1-------------------------*/

.verificacionC1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.9);
    padding: 2%;
}

.verificacionCorreo {
    border-style: solid;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    background-color: rgb(200, 197, 197);
}

.verificacionCorreo h5 {
    display: flex;
    margin-block-end: 5%;
    flex-direction: row
}

.btn-Verificar {
    background-color: black;
    color: white;
    margin-block-start: 2%;
}

/*------------------ VERIFICACIÓN DE CORREO #2-------------------------*/
.verificacionC2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.9);
    padding: 2%;
}

.verificacionCorreo h3 {
    display: flex;
    margin-block-end: 5%;
    flex-direction: column;
    padding: 5%;
}

/*-------------------- RECUPERAR CONTRASEÑA--------------------------- */
.rContraseña {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.9);
    padding: 2%;
}

.recuperarContraseña {
    border-style: solid;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    background-color: rgb(200, 197, 197);
}

.recuperarContraseña h6 {
    display: flex;
    margin-left: 2%;
}

.btn-reenviar {
    display: flex;
    margin-left: 2%;
    background-color: rgb(200, 197, 197);
    border: none;
    margin-block-end: 1%;
}

.recuperar {
    margin-block-start: 3%;
    background-color: black;
    color: white;
}

.recuperar3 {
    background-color: black;
    color: white;
    padding: 1%;
}

/* ------------------ DESCRIPCION PRODUCTO ----------------------- */
.descripcionPro {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: darkgray;
    padding: 2%;
}

.infoP {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(200, 197, 197);
    margin-top: 2%;
    padding: 2%;
    margin-block: 5%;
}

.nombreP {
    display: flex;
    justify-content: flex-end
}

.descripcionP {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.precio {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.precio h6 {
    color: green;
}

.img {
    width: 50%;
    border: 3px solid black;
}

.imgP {
    display: flex;
    margin-right: 12%;
}

.contenidoD {
    display: flex;
    margin-block-end: 15%;
    margin-inline-start: -50%;
    width: 70%;
    flex-wrap: wrap;
}

.precio {
    margin: 0%;
}

.puntuacionP {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn-recuperar {
    margin-block-start: 3%;
    background-color: black;
    color: white;
}

.btn-recuperar3 {
    background-color: black;
    color: white;
    padding: 1%;
}

/* ------------------ DESCRIPCION PRODUCTO ----------------------- */
.descripcionPro {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: darkgray;
    padding: 2%;
}

.infoP {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(200, 197, 197);
    margin-top: 2%;
    padding: 2%;
    margin-block: 5%;
}

.nombreP {
    display: flex;
    justify-content: flex-end
}

.descripcionP {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.precio {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.precio h6 {
    color: green;
}

.img {
    width: 50%;
    border: 3px solid black;
}

.imgP {
    display: flex;
    margin-right: 12%;
}

.contenidoD {
    display: flex;
    margin-block-end: 15%;
    margin-inline-start: -50%;
    width: 70%;
    flex-wrap: wrap;
}

.precio {
    margin: 0%;
}

.puntuacionP {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* ------------------ CARRITO DE COMPRAS ----------------------- */

.carrito {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: darkgray;
    padding: 2%;
}

.btn-añadirCarrito {
    background-color: black;
    color: var(--button-text);
    margin-bottom: 1%;
}

.btn-verCarrito {
    background-color: black;
    color: var(--button-text);
}

.producto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(200, 197, 197);
    margin-top: 2%;
    padding: 2%;
    margin-block: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 50px;
}

.producto img {
    width: 50%;
    height: auto;
}

.producto .description {
    padding: 10px;
    text-align: center;
    display: block; 
}

.producto .description h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
    font-weight: 700;
}

.producto .description p {
    margin: 0;
    font-size: 1em;
}

.producto .price {
    font-size: 1.2em;
    color: var(--secondary-color);
    margin-top: 5px;
}

.producto .cantidad {
    font-size: 1.2em;
    color: var(--secondary-color);
    margin-top: 5px;
}

.producto .total {
    font-size: 1.2em;
    color: var(--secondary-color);
    margin-top: 5px;
}

.producto .eliminar {
    font-size: 1.2em;
    color: var(--secondary-color);
    margin-top: 5px;
}

.btn-eliminar {
    border: none;
    background-color: rgb(200, 197, 197);
    width: 10%;
    height: 20%;
    margin-inline-start: 192%;
    margin-block-start: 18%;
}

.btn-eliminar img {
    width: 30px;
    height: 30px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total p {
    font-size: 1.5em;
    color: var(--secondary-color);
}

.campoTotal {
    background-color: rgb(200, 197, 197);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 60px;
    margin-block-end: 5%;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-end: 5%;
}

.btn-comprar {
    background-color: black;
    color: white;
    margin-block-end: 5%;
    width: 40%;
    margin-inline-end: 1%;
}

.btn-vaciar {
    background-color: black;
    color: white;
    margin-block-end: 5%;
    width: 40%;
    margin-inline-start: 1%;
}

/* <!-------------------- BOTON DE SCROLL TOP ----------------------------------> */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
}

#scrollTopBtn:hover {
    background-color: #0056b3;
}

/* *********************** ADMINISTRADOR ************************ */

.menu-container {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;

}
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-inline-end: 0%;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.dropdown-menu a:hover {
    background: #f0f0f0;
}
.show { 
    display: block;
}

/* -------------------- AGREGAR / EDITAR PRODUCTO ---------------------------*/
.agregar-editar {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.9);
}

.container-agregarEditar {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-block-start: 10%;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5);
}
.container-agregarEditar h2 {
    text-align: center;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-guardar {
    display: flex;
    margin-inline-start: 30%;
    padding: 2%;
    background-color: #28a745;
    border-radius: 10px;   
}
/* --------------------------------INFO CLIENTES----------------------------- */
.infoClientes {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.9);
}

.container-infoClientes {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 760px;
    margin: auto;
    margin-block-start: 10%;
}

.tablaInfoC {
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(200, 197, 197);
    align-items: baseline;
    display: flex;
    justify-content: space-around;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: white;
}
